@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
	 background: url('./assets/profile1.jpg') 200% 10% / cover no-repeat; 
	height: 100vh;
	position: relative;
} */

/* .background {
	height: inherit;
	background: rgba(0, 0, 0, 0.8);
} */

/* .container{
	max-width: 1200px;
} */
